.container-fondo-md-12{
    background-image: linear-gradient(45deg,rgb(255, 255, 255),rgba(56, 123, 247, 0.733),rgb(230, 228, 228),rgb(29, 62, 207));
    color: #fff;
    height: 100%;
    background-size: 150% 150%;
    position: relative;
    animation: cambiar 10s ease infinite;
    
    background-repeat: no-repeat;
}

.container-md-12{
    background-color: rgb(255, 255, 255);
}

.nav-link{
    color: black;
    background-color: white;
}


h1{
    font-size: 4rem;
    letter-spacing: 2px;
    border: solid 5px #fff;
    border-radius: px;
    top: 100%;
    left: 100%;
    padding: 40px;
    
}
.parra{
    
    width: 50%;
    margin:  auto;
    text-align: center;
}

h3{
    text-align: center;
   
}

.imagenes{
    width: 5px;
    height: 5px;
}

.tabla{
    text-align: center;
    color: rgb(255, 255, 255);
    
}