.container-fondo-md-12{
    background-image: linear-gradient(45deg,rgb(255, 255, 255),rgba(56, 123, 247, 0.733),rgb(230, 228, 228),rgb(29, 62, 207));
    color: #fff;
    height: 100%;
    background-size: 150% 150%;
    position: relative;
    animation: cambiar 10s ease infinite;
    
    background-repeat: no-repeat;
}

.tabla2{
   
    padding: left 25px;
    font-size: 30px;
}

.nav-link{
    color: black;
    background-color: white;
}

.container-md-12{
    background-color: rgb(255, 255, 255);
}

.card-text{
    color: black;
}
